:root {
  font-size: 13px;
}

body {
  font-size: 13px;
  margin: 10px;
  min-height: 90vh;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

html {
    display: block;
    margin: auto;

    overflow: hidden;
    padding-bottom: 0;

    height: 100%;
    width: 100%;

    box-sizing: border-box;
    background-color: #f2f2f2;
    border-left: 1px solid #bdbdbd;
    border-right: 1px solid #bdbdbd;
    border-bottom: 1px solid #bdbdbd;
}

.sfab-logo-container {
	max-width: 50vw;
	max-height: 50vh;
}

.message {
	max-width: 70vw;
	font-size: 2rem;
}

svg #sfab-svg {
	transition: all 2s ease;
}

.error {
	fill: red;
}

.success {
	fill: #1FAAD8;
}